<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <!-- BOOTSTRAP CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div th:include="usuario/header.html::encabezado"></div>

<div class="container py-5">

    <div class="alert alert-light text-center" role="alert">
        <h1 class="mt-4 mb-3">CLIENTES</h1>
    </div>

    <div class="mt-3 mb-3 d-flex">
        <a class="btn btn-dark" th:href="@{/cliente/nuevoCliente}">Nuevo +</a>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">DNI</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Dirección</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${clientes}" th:object="${client}">
            <td th:text="*{idCliente}"></td>
            <td th:text="*{dni}"></td>
            <td th:text="*{nombre}"></td>
            <td th:text="*{apellido}"></td>
            <td th:text="*{direccion}"></td>
            <td th:text="*{telefono}"></td>
            <td>
                <a class="btn btn-warning" th:href="@{/cliente/editarCliente/{idCliente} (idCliente=*{idCliente})}">Editar</a>
            </td>
            <td>
                <a class="btn btn-danger" th:href="@{/cliente/eliminarCliente/{idCliente} (idCliente=*{idCliente})}">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- BOOTSTRAP JAVASCRIPT -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>