<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Cliente</title>
    <!-- BOOTSTRAP CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div th:include="usuario/header.html::encabezado"></div>

<div class="container py-5">

    <div class="alert alert-light text-center" role="alert">
        <h1 class="mt-4 mb-3">NUEVO CLIENTE</h1>
        <!--        <div>-->
        <!--            <ol class="breadcrumb">-->
        <!--                <li class="breadcrumb-item"><a href="#">Clientes</a></li>-->
        <!--                <li class="breadcrumb-item active">Lista</li>-->
        <!--            </ol>-->
        <!--        </div>-->
    </div>

    <form >
        <div class="mb-3">
            <label for="dni" class="form-label">DNI:</label>
            <input type="text" class="form-control" id="dni" placeholder="Ingrese dni del cliente">
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre del cliente">
        </div>
        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido:</label>
            <input type="text" class="form-control" id="apellido" placeholder="Apellido del cliente">
        </div>
        <div class="mb-3">
            <label for="direccion" class="form-label">Direccion:</label>
            <input type="text" class="form-control" id="direccion" placeholder="Direccion del cliente">
        </div>
        <div class="mb-3">
            <label for="telefono" class="form-label">Telefono:</label>
            <input type="tel" class="form-control" id="telefono" placeholder="Número de telefono del cliente">
        </div>
        <button type="submit" class="btn btn-secondary">Guardar</button>
        <button type="submit" class="btn btn-danger">Cancelar</button>
    </form>
</div>

<!-- BOOTSTRAP JAVASCRIPT -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>